

@font-face {
  src: url("../fonts/fonty.ttf");
  font-family: fonty;
}
body {

  background-image: url("../images/img2.jpg");
  background-repeat: repeat;
  background-size: cover;
  font-family: fonty;
}
#navbar {
  display:inline-block;
  font-size: 60px;
  background-color: grey;
  opacity: 0.7;
  color: black;
}
#texto{
  color: black;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
}

.jumbotron {
  opacity: 0.7;
  font-family: fonty;
  margin-left: 200px;
  margin-right: 200px;
  opacity: 0.4;
  padding-bottom: 20px;
  padding-top: 20px;
  font-weight: bolder;
}

#text {
  font-size: 100px
}

.row {
  padding-left: 120px;
  font-family: fonty;
}

#one {
  background-color: #F9E79F;
  opacity: 0.7;
  height: 30vh;
  font-size: 100px
}

#two {
  background-color: #5DADE2;
  opacity: 0.7;
  height: 30vh;
  font-size: 100px
}
.play{
  font-size: 100px
}
