@font-face {
  src: url("../fonts/fonty.ttf");
  font-family: fonty;
}

.page-header {
  text-align: center;
  padding: 10px;
  background-color: green;
  margin-top: 0;
}

body {
  font-family: fonty;
  font-size: 50px;
}
#navbar {
  display: flex;
  display:inline-block;
  font-size: 60px;
  background-color: grey;
  opacity: 0.7;
  color: black;
  align-items: flex-start;
}
#texto{
  color: black;
}

#font {
  font-size: 60px;
}

#paperFont {
  font-size: 45px;
}

#scissorFont {
  font-size: 45px;
}

h1 {
  color: cyan;
  font-weight: lighter;
  font-size: 75px;
  text-align: center;
}

#font1 {
  text-align: center;
  color: blue;
  font-size: 55px;
  font-weight: lighter;
}

#font2 {
  >>>>>>>950efade5b085e6e99a2229ab868251a3d81c599 text-align: center;
  color: black;
  font-size: 85px;
  font-weight: lighter;
}

#rockFont {
  font-size: 45px;
}

#paperFont {
  font-size: 45px;
}

#scissorFont {
  font-size: 45px;
}

h1 {
  color: black;
  font-weight: lighter;
  font-size: 100px;
  text-align: center;
}

#font1 {
  text-align: center;
  color: black;
  font-size: 100px;
  font-weight: lighter;
}

#font2 {
  text-align: center;
  color: black;
  font-size: 100px;
}

#reset1 {
  align-items: center;
  font-size: 100px;
  justify-content: center;
  margin-left: 30%
}

body {
  background-image: url("../images/imag.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 1;
}

#rock {
  height: 60%;
  width: 60%;
  opacity: 1;
}

#paper {
  height: 60%;
  width: 60%;
  opacity: 1;
}

#scissor {
  height: 60%;
  width: 60%;
  opacity: 1;
}

#reset1 {
  color: #000000;
  font-size: 40px
}

body {
  background-image: url("../images/imag.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 1;
}

#rock {
  height: 150px;
  width: 150px;
  opacity: 1;
}

#paper {
  height: 150px;
  width: 150px;
  opacity: 1;
}

#scissor {
  height: 150px;
  width: 150px;
  opacity: 1;
}

.output-box {
  overflow: auto;
  box-shadow: 0 0 5px 5px white;
  background-color: #406DE7;
  width: 40%;
  height: 20vh;
  margin-left: 30%;
}
.outie{
  font-size: 100px;
}
#results{
  font-size: 100px;
}
