@font-face {
  src: url("../fonts/fonty.ttf");
  font-family: fonty;

}
body{
  font-family: fonty;
  font-size: 50px;
}
#navbar{
    float: right;
    margin: 0;
  }
  .navbar-nav li {
    float: right;
  }

#font{
    text-align: center;
    color:cyan;
    font-size: 85px;
    font-weight: lighter;
  }

  #rockFont{
    font-size: 45px;
  }
  #paperFont{
    font-size: 45px;
  }
  #scissorFont{
    font-size: 45px;
  }
  h1{
    color:cyan;
    font-weight: lighter;
    font-size: 75px;
    text-align: center;
  }
  #font1{
    text-align: center;
    color: white;
    font-size: 55px;
    font-weight: lighter;
  }
#font2{
  text-align: center;
  color: white;
  font-size: 50px;
}
#reset1{
  align-items: center;
  font-size: 50px;
  justify-content: center;
  margin-left: 30%
}
  body{
    background-image:url("../images/us.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
  }
#rock{
    height: 60%;
  width: 60%;
  opacity: 0.7;
}
#paper{
  height: 60%;
  width: 60%;
  opacity: 0.7;
}
#scissor{

    height: 60%;
  width:60%;
  opacity: 0.7;
}
.output-box{
  overflow: auto;
  box-shadow: 0 0 5px 5px white;
  background-color:#406DE7;
  width: 40%;
  height: 30vh;
  margin-left: 30%;
