@font-face {
  src: url("../fonts/fonty.ttf");
  font-family: fonty;

}
.page-header {
  text-align: center;
  padding: 10px;
  background-color: green;
  margin-top: 0;
}
body{
  font-family:"Lato";
  font-weight:700;
}
.bar{
  float: left;
}
#font{
    text-align: center;
    color:cyan;
    font-size: 85px;
    font-weight: lighter;
  }

  #rockFont{
    font-size: 45px;
  }
  #paperFont{
    font-size: 45px;
  }
  #scissorFont{
    font-size: 45px;
  }
  h1{
    color:cyan;
    font-weight: lighter;
    font-size: 75px;
    text-align: center;
  }
  #font1{
    text-align: center;
    color: blue;
    font-family: fonty;
    font-weight: 200;
    font-size: 55px;
  }
#font2{
  text-align: center;
  color: white;
  font-size: 50px;
}
#reset{
  align-items: center;
}
#reset1{
  color: #000000;
  font-size: 40px
}
  body{
    background-image:url("../images/us.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
  }
#rock{
    height:150px;
    width: 150px;
    opacity: 0.7;
}
#paper{
  height: 150px;
  width: 150px;
  opacity: 0.7;
}
#scissor{
  height:150px;
  width:150px;
  opacity: 0.7;
}
.output-box{
  overflow: auto;
  box-shadow: 0 0 5px 5px white;
  background-color:#406DE7;
  width: 40%;
  height: 20vh;
  margin-left: 30%;

}
