@font-face {
  src: url("../fonts/fonty.ttf");
  font-family: fonty;
}
<<<<<<< HEAD
<<<<<<< HEAD
=======

body {
=======
>>>>>>> 27332c3a14bc0cf9216431ffdf7d04bf376c11a2
.page-header {
  text-align: center;
  padding: 10px;
  background-color: green;
  margin-top: 0;
}

body{
<<<<<<< HEAD
=======

body {
>>>>>>> f69460f949628283cb3531bccd0a42f6080c16c4
=======
>>>>>>> 950efade5b085e6e99a2229ab868251a3d81c599
>>>>>>> 27332c3a14bc0cf9216431ffdf7d04bf376c11a2
  font-family: fonty;
  font-size: 50px;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
#font {
=======
>>>>>>> 27332c3a14bc0cf9216431ffdf7d04bf376c11a2
  #rockFont{
    font-size: 45px;
  }
  #paperFont{
    font-size: 45px;
  }
  #scissorFont{
    font-size: 45px;
  }
  h1{
    color:cyan;
    font-weight: lighter;
    font-size: 75px;
    text-align: center;
  }
  #font1{
    text-align: center;
    color: blue;
    font-size: 55px;
    font-weight: lighter;
  }
#font2{
<<<<<<< HEAD
=======
#font {
>>>>>>> f69460f949628283cb3531bccd0a42f6080c16c4
=======
>>>>>>> 950efade5b085e6e99a2229ab868251a3d81c599
>>>>>>> 27332c3a14bc0cf9216431ffdf7d04bf376c11a2
  text-align: center;
  color: black;
  font-size: 85px;
  font-weight: lighter;
}

#rockFont {
  font-size: 45px;
}

#paperFont {
  font-size: 45px;
}

#scissorFont {
  font-size: 45px;
}

h1 {
  color: black;
  font-weight: lighter;
  font-size: 100px;
  text-align: center;
}

#font1 {
  text-align: center;
  color: black;
  font-size: 100px;
  font-weight: lighter;
}
<<<<<<< HEAD
<<<<<<< HEAD
#reset{
  align-items: center;
}
#reset1{
  color: #000000;
  font-size: 40px
}
  body{
    background-image:url("../images/us.gif");
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
  }
#rock{
    height:150px;
    width: 150px;
    opacity: 0.7;
}
#paper{
  height: 150px;
  width: 150px;
  opacity: 0.7;
}
#scissor{
  height:150px;
  width:150px;
  opacity: 0.7;
=======
=======
>>>>>>> 27332c3a14bc0cf9216431ffdf7d04bf376c11a2

#font2 {
  text-align: center;
  color: black;
  font-size: 100px;
}

#reset1 {
  align-items: center;
  font-size: 100px;
  justify-content: center;
  margin-left: 30%
}

body {
  background-image: url("../images/imag.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 1;
}

#rock {
  height: 60%;
  width: 60%;
  opacity: 1;
}

#paper {
  height: 60%;
  width: 60%;
  opacity: 1;
}

#scissor {
  height: 60%;
  width: 60%;
  opacity: 1;
<<<<<<< HEAD
>>>>>>> f69460f949628283cb3531bccd0a42f6080c16c4
=======
=======
#reset{
  align-items: center;
}
#reset1{
  color: #000000;
  font-size: 40px
}
  body{
    background-image:url("../images/us.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
  }
#rock{
    height:150px;
    width: 150px;
    opacity: 0.7;
}
#paper{
  height: 150px;
  width: 150px;
  opacity: 0.7;
}
#scissor{
  height:150px;
  width:150px;
  opacity: 0.7;
>>>>>>> 950efade5b085e6e99a2229ab868251a3d81c599
>>>>>>> 27332c3a14bc0cf9216431ffdf7d04bf376c11a2
}

.output-box {
  overflow: auto;
  box-shadow: 0 0 5px 5px white;
  background-color: #406DE7;
  width: 40%;
  height: 20vh;
  margin-left: 30%;
}