body {
  background-image: url(../images/Waterr.jpg);
  background-size: cover;
  font-size: 300%;
  font-family: fantasy;
  image-resolution: from-image;
  padding-left: 5%;
  border: 0%;
  height: 100vh;
  background-repeat: no-repeat;
}

.flexbox {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border: 10px solid black;
}