h1{
    text-align: center;
  }

  body{
    background-image:url("../images/rps3.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .jumbotron{
    height: 40vh;
    background-color: lime;
}
#rock{
    height: 50%;
  width: 50%;
}
#paper{
  height: 50%;
  width: 50%;
}
#scissor{

    height: 50%;
  width:50%;
}
.output-box{
  overflow:auto;
  box-shadow: 0 0 5px 5px white;
  background-color: white;
  width: 40%;
  height: 30vh;
  margin-left: 25%;
}

.output-box li{
  list-style: none;
}

.output-box{
  margin-right: 40px;
}
