
#font{
    text-align: center;
    font-family: 'Pinyon Script', cursive;
    color:#7B68EE;
    font-weight: bold;
    font-size: 75px;
  }
  h2{
    ont-family: 'Cinzel Decorative', cursive;
    color:#7B68EE;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
  }
  #font1{
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
    color: white;
  }
#font2{
  font-family: 'Bungee Inline', cursive;
  text-align: center;
  color: white;
}
  body{
    background-image:url("../images/back.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
#rock{
    height: 50%;
  width: 50%;
}
#paper{
  height: 50%;
  width: 50%;
}
#scissor{

    height: 50%;
  width:50%;
}
.output-box{
  overflow:scroll;
  box-shadow: 0 0 5px 5px white;
  background-color:#406DE7;
  width: 40%;
  height: 30vh;
  margin-left: 30%;

}
